@charset "UTF-8";
/* reset */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
button,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

fieldset,
img {
  border: 0 none;
}

dl,
ul,
ol,
menu,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

input,
select,
textarea {
  font-size: 100%;
  vertical-align: middle;
}

button {
  font-size: 100%;
  vertical-align: middle;
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

/* 뷰표트 변환시 폰트크기 자동확대 방지 */
input[type=text], input[type=password], input[type=submit], input[type=search] {
  -webkit-appearance: none;
  border-radius: 0;
}
input:checked[type=checkbox] {
  background-color: #666;
  -webkit-appearance: checkbox;
}

button {
  -webkit-appearance: button;
  border-radius: 0;
}

input[type=button], input[type=submit], input[type=reset], input[type=file] {
  -webkit-appearance: button;
  border-radius: 0;
}
input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* 기본 폰트 설정 */
/* mobile */
body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Pretendard", "Noto Sans KR", "Malgun Gothic", "맑은 고딕", sans-serif;
  color: #333;
}

/* desktop */
@media screen and (min-width: 1280px) {
  body {
    font-size: 16px;
  }
}
/* color값은 디자인가이드에 맞게사용 */
a {
  color: #333;
  text-decoration: none;
}
a:active, a:hover {
  text-decoration: none;
}

address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
  font-weight: normal;
}

hr {
  display: none;
}

input[type=password] {
  font-family: "Pretendard", "Noto Sans KR", "Malgun Gothic", "맑은 고딕", sans-serif;
}

/* 웹폰트 사용시 점이 안보임 - 기본 폰트 사용  */
/* skipnavigation */
#skip {
  position: relative;
  z-index: 3000;
}
#skip a {
  position: absolute;
  top: -35px;
  left: 0;
  right: 0;
  display: inline-block;
  padding: 7px 10px 5px;
  background: #333;
  color: #fff;
  text-decoration: none;
  text-align: center;
  opacity: 0;
}
#skip a:focus {
  top: 0;
  opacity: 1;
  z-index: 1000;
}

/* 이미지 스프라이트 */
.img-g {
  display: inline-block;
  overflow: hidden;
  background: url(../../images/comm/img-comm.png) no-repeat;
  vertical-align: top;
}

/* 이미지 */
/* global */
.ir-pm {
  display: block;
  overflow: hidden;
  font-size: 0px;
  line-height: 0;
  text-indent: -9999px;
}

/* 사용된 이미지내 의미있는 텍스트의 대체텍스트를 제공할때 */
.ir-wa {
  display: block;
  overflow: hidden;
  position: relative;
  z-index: -10;
  width: 100%;
  height: 100%;
}

/* 중요한 이미지 대체텍스트로 이미지off시에도 대체 텍스트를 보여주고자 할때 */
.blind,
caption,
legend {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
}

/* 대체텍스트가 아닌 접근성을 위한 숨김텍스트를 제공할때 */
.f_l {
  float: left;
}

.f_r {
  float: right;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.tbl {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 테이블 초기화 */
.clearfix {
  display: block;
  overflow: visible;
  width: auto;
  clear: both;
  zoom: 1;
}
.clearfix:after {
  display: block;
  visibility: hidden;
  height: 0;
  font-size: 0;
  clear: both;
  content: "";
}

@font-face {
  font-family: "EF_jejudoldam";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_jejudoldam.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
body {
  overflow-x: hidden;
  font-size: 18px;
}

.wrap #header {
  width: 100%;
  height: 150px;
  padding: 0 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 1000;
}
.wrap #header .header_gnb ul {
  display: flex;
  gap: 100px;
}
.wrap #header .header_gnb ul li {
  font-size: 20px;
}
.wrap #header .header_gnb ul li a {
  color: #fff;
}
.wrap #header .header_icon ul {
  display: flex;
  gap: 30px;
}
.wrap #campaign_donation .campaign_donation_title {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url(../../images/campaign/top01.png);
  background-size: 100vw;
}
.wrap #campaign_donation .campaign_donation_title .campaign_donation_txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.wrap #campaign_donation .campaign_donation_title .campaign_donation_txt h2 {
  text-align: center;
  font-size: 60px;
  line-height: 1.2;
  font-weight: 900;
  margin-bottom: 20px;
}
.wrap #campaign_donation .campaign_nav {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #e6e6e6;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap #campaign_donation .campaign_nav ul {
  display: flex;
  gap: 100px;
}
.wrap #campaign_donation .campaign_nav ul li a {
  color: #555;
}
.wrap #campaign_donation .campaign_nav ul li:first-child a {
  font-weight: 700;
  color: #8443ce;
}
.wrap #campaign_donation .campaign_donation_contents {
  text-align: center;
  margin-top: 100px;
}
.wrap #campaign_donation .campaign_donation_contents p {
  line-height: 2;
}
.wrap #campaign_donation .campaign_donation_contents p strong {
  font-weight: 700;
}
.wrap #campaign_donation .campaign_donation_contents .campaign_donation_btn {
  margin-top: 60px;
}
.wrap #campaign_donation .campaign_donation_contents .campaign_donation_btn button {
  width: 300px;
  height: 80px;
  border: 1px solid #333;
  font-family: "Pretendard";
}
.wrap #campaign_donation .campaign_donation_contents .campaign_donation_btn button span {
  margin-right: 10px;
}
.wrap #campaign_cycle .campaign_cycle_title {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url(../../images/campaign/top02.png);
  background-size: 100vw;
}
.wrap #campaign_cycle .campaign_cycle_title .campaign_cycle_txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.wrap #campaign_cycle .campaign_cycle_title .campaign_cycle_txt h2 {
  text-align: center;
  font-size: 60px;
  line-height: 1.2;
  font-weight: 900;
  margin-bottom: 20px;
}
.wrap #campaign_cycle .campaign_nav {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #e6e6e6;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap #campaign_cycle .campaign_nav ul {
  display: flex;
  gap: 100px;
}
.wrap #campaign_cycle .campaign_nav ul li a {
  color: #555;
}
.wrap #campaign_cycle .campaign_nav ul li:last-child a {
  font-weight: 700;
  color: #8443ce;
}
.wrap #campaign_cycle .campaign_cycle_contents {
  text-align: center;
  margin-top: 100px;
}
.wrap #campaign_cycle .campaign_cycle_contents p {
  line-height: 2;
}
.wrap #campaign_cycle .campaign_cycle_contents p strong {
  font-weight: 700;
}
.wrap #campaign_cycle .campaign_cycle_contents .campaign_cycle_btn {
  margin-top: 60px;
}
.wrap #campaign_cycle .campaign_cycle_contents .campaign_cycle_btn button {
  width: 300px;
  height: 80px;
  border: 1px solid #333;
  font-family: "Pretendard";
}
.wrap #campaign_cycle .campaign_cycle_contents .campaign_cycle_btn button span {
  margin-right: 10px;
}
.wrap #footer {
  width: 100%;
  height: 400px;
  margin-top: 200px;
  padding-top: 80px;
  background: #f2f2f2;
  display: flex;
  justify-content: space-between;
  color: #555;
}
.wrap #footer .footer_left {
  display: flex;
  padding-left: 250px;
}
.wrap #footer .footer_left .footer_app h2 {
  font-weight: 800;
  margin-bottom: 20px;
}
.wrap #footer .footer_left .footer_app .footer_app_button ul li button {
  border: 1px solid #555;
  width: 180px;
  height: 60px;
}
.wrap #footer .footer_left .footer_app .footer_app_button ul li button:first-child {
  margin-bottom: 10px;
}
.wrap #footer .footer_left .footer_app .footer_app_button ul li button a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #555;
}
.wrap #footer .footer_left .footer_app .footer_app_button ul li button a img {
  width: 20px;
  margin-right: 10px;
}
.wrap #footer .footer_left .footer_app .footer_app_button ul li button a span {
  font-size: 16px;
  font-family: "Pretendard";
}
.wrap #footer .footer_left .footer_call {
  padding-left: 80px;
}
.wrap #footer .footer_left .footer_call h2 {
  font-weight: 800;
  margin-bottom: 20px;
}
.wrap #footer .footer_left .footer_call p:nth-child(3) {
  margin-bottom: 20px;
}
.wrap #footer .footer_left .footer_call p a {
  display: flex;
  align-items: center;
  color: #555;
}
.wrap #footer .footer_left .footer_call p a img {
  width: 20px;
  margin-right: 6px;
}
.wrap #footer .footer_right {
  text-align: right;
  padding-right: 250px;
}
.wrap #footer .footer_right .footer_txt {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.wrap #footer .footer_right .footer_txt .footer_txt_button a {
  font-weight: 800;
  margin-left: 30px;
  color: #555;
}
.wrap #footer .footer_right .footer_txt .footer_txt_copyright {
  margin-top: 40px;
}/*# sourceMappingURL=campaign.css.map */